img {
    max-width: 100%;
  }
  
  .container {
    width: 20rem;
  }
  
  .flexbox {
    display: flex;
    width: 50rem;
    flex-direction: column;
    --justify-content: space-evenly;
    align-items: center;
  }
  
  .box {
    width: 5rem;
    height: 5rem;
    --display: block;
    --display: inline;
    --display: inline-block;
  }
  
  .box:nth-child(1) {
    background-color: #e5c1bd;
  }
  
  .box:nth-child(2) {
    background-color: #91c7b1;
  }
  
  .box:nth-child(3) {
    background-color: #592941;
  }
  
  .box:nth-child(4) {
    background-color: #904e55;
  }